<!DOCTYPE html>
<html>
<head>
  <title>Video Rooms</title>
</head>
<body>
<h1>Welcome!</h1>

<form th:action="@{/rooms/create}" th:method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <button type="submit">Create Room</button>
</form>



<form th:action="@{/rooms/join}" th:method="get">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <input type="text" th:name="roomCode" placeholder="Enter Room Code" required />
  <button type="submit">Join Room</button>
</form>

<form th:action="@{/logout}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <button type="submit">Logout</button>
</form>

</body>
</html>
